@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<h2>@ViewData["Title"]</h2>
<h3>What exactly is ihelped.today?</h3>
<h3>How does it work?</h3>
<h3>Who can participate?</h3>
<h3>When do payouts occur?</h3>
<h3>How much does the fundraiser get?</h3>
<h3>How much do you guys keep?</h3>